/* General */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Noto+Sans+JP:wght@100..900&display=swap");
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.411), rgba(0, 0, 0, 0.411)),
    url("/home2.jpg");
  background-size: cover;
  color: #f6f6f8;
}

/* Navbar */
.navbar {
  background-color: transparent;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 40px;
  border-bottom: none !important;
  box-shadow: none !important;
}
.navheader h2 {
  font-size: 2.8rem;
  font-family: "Dancing Script", cursive;
  color: #c9625f;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}
.logout-btn {
  width: auto !important;
  height: auto !important;
}
.history-btn,
.logout-btn {
  background: #1a1a1a;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
}

.history-btn:hover,
.logout-btn:hover {
  background: #272727;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 2px solid #333;
}

/* Layout */
.dashboard {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  padding: 40px 60px;
  gap: 40px;
}

/* Left Section */
.left-section {
  flex: 1;
}
.emp {
  color: #fac117;
}
.main-heading {
  text-align: center;
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 10px;
}

.subtext {
  text-align: center;
  color: #7d7c7c;
  margin-bottom: 35px;
}

/* Quick Actions */
.quick-actions {
  max-width: 500px;
  background: #4b4949ba;
  color: #fff;
  padding: 24px;
  border-radius: 16px;
  margin: 40px auto;
}

.quick-actions h3 {
  margin-bottom: 15px;
  text-align: center;
}

.input-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.input-row input {
  flex: 1;
  width: 360px;
  background: #1a1a1a;
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 12px 16px;
}
.grp-button {
  display: flex;
  gap: 20px;
}
.join-btn {
  background: #fac117;
  border: none;
  color: #1a1a1a;
  font-weight: 600;
  border-radius: 10px;
  padding: 12px 20px;
  cursor: pointer;
}

.new-btn {
  background: #1a1a1a;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 12px 20px;
  cursor: pointer;
}

/* Recent Meetings */
