.lobby-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* padding: 1rem; */
  background-color: black;
  gap: 3rem; /* space between video and form */
} /* Lobby view */
.lobby-left,
.lobby-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.video-container {
  margin: 0;
  padding: 1rem;
}
.video-container video {
  width: 640px;
  height: 484px;
  object-fit: cover;
}
.lobby-heading {
  margin: 0 0 40px 0;
  color: #fac117;
  font-size: 30px;
  text-align: center;
}
.lobby-handle {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 30px;
  margin-left: 6rem;
}
.lobby-right {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 2rem 4rem 2rem 2rem;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
} /* -------------------- */ /* Call Layout (after connect) */ /* -------------------- */
.call-container {
  display: flex;
  height: auto;
  min-height: 100vh;
  width: 100%;
  background: black;
  transition: all 0.3s ease-in-out;
}
.video-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: flex 0.3s ease-in-out;
}
.video-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: center;
} /* When chat is open */
/* Video styles */
.solo-video {
  width: 100%;
  max-width: 640px;
  height: 484px;
  object-fit: cover;
  border-radius: 8px;
  flex: 1 1 300px;
  aspect-ratio: 4/3;
}
.grid-video {
  width: 100%;
  max-width: 456px;
  height: 346px;
  object-fit: cover;
  border-radius: 8px;
  flex: 1 1 300px;
  aspect-ratio: 4/3;
} /* Chat section */
.chat-section {
  position: relative;
  width: 450px;
  height: 680px;
  border-radius: 10px;
  background: white;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: -4px 0 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
  margin-right: 20px;
  margin-top: 20px;
}
.chat-input {
  position: absolute;
  bottom: 0;
}
/* -------------------- */ /* Controls */ /* -------------------- */
.controls-bar {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  border-radius: 12px;
  z-index: 1000;
}
.controls-bar .MuiIconButton-root {
  width: 70px;
  height: 70px;
}
.controls-bar .MuiIconButton-root:hover {
  background-color: rgba(102, 100, 100, 0.95);
  border-radius: 50%;
}
.controls-bar svg {
  font-size: 36px;
}
